.price-box .toggle-button {
    -fx-background-color: null;
    -fx-background-image: url("../images/hide_green.png");
}

.price-box .toggle-button:selected {
    -fx-background-image: url("../images/hide_red.png");
}

.price-box .combined {
    -fx-background-image: url("../images/hide_combine.png");
}